.App {
  text-align: center;
  justify-content: center;
  background-image: url('https://i.imgur.com/GHnVMfg.jpg');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #566072;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  background-color: #566072;
  opacity: .9;
  background-image: url('https://i.imgur.com/w8A7pxF.png');
  margin: auto;
  width: 80%;
  border: 5px solid #c70e0e;
  padding: 10px;
}

.App-link {
  color: #af1a42;
}

.App-footer {
  text-align: center;
  justify-content: center;
  background-image: 'https://i.imgur.com/w8A7pxF.png';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Address-container {
text-align: center;
  justify-content: center;
  box-shadow: 8 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
 
  margin: auto;
  width: 75%;
  border: 5px solid #0b6e75;
  padding: 10px;
}


.Guns-container {
  text-align: center;
  justify-content: center;
  box-shadow: 8 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
 
  margin: auto;
  width: 75%;
  border: 5px solid #0b6e75;
  padding: 10px;
}


.personas-card {
  /* text-align: center;
  justify-content: center; */
box-shadow: 8 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* border-radius: 5px; */
 
  margin: auto;
  width: 50%;
  border: 5px solid #b54848;
  padding: 10px;
}
